* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    }

    /* Cabeçalho */
    #cabecalho {
    background-color:rgb(201, 96, 96);
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);


}

#background-cabecalho {
    display: flex;
    justify-content: space-between;
}

#logo-header {
    margin: 5px 5px;
}

#titulo-header {
    text-align: center;
    margin: 20px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:overline underline;
}

#menu-cabecalho {
    flex-grow: 1;
    align-content:center;
}

#menu-cabecalho ul {
    display:flex;
    justify-content:space-evenly;
    list-style-type:none;
    padding-top: 5px;
}

#menu-cabecalho li {
    font-size: 20px;
    color:aliceblue;
    
}

#sobrenos-header {
    cursor: pointer;
    text-shadow:5px 5px 5px rgb(0, 0, 0);
    color:rgb(255, 238, 1);
}

    /* Área principal */
    .main-grid { 
      display: grid;
      grid-template-rows: 70px 40px 1fr 300px;
      min-height: 100vh;
      background-color:rgb(242, 207, 207);
    }

    #titulo-sobrenos {
      grid-row: 2;
      align-items: center;
      justify-self: center;
      font-size: 50px;
    }

    .card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 20px;
      max-width: 300px;
    }

    .conteudo{
      width: 100%;
      grid-row: 3;
      display: flex;
      justify-content: space-evenly;
      margin: 80px auto;
    }

    .card h2 {
      font-size: 1.3rem;
    }

    .foto {
      display: block;
      margin: 0 auto 15px auto;
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #0077ff;
    }

    .links a {
      text-decoration: none;
      color: #0077ff;
      margin: 0 5px;
    }

    /* Rodapé */
    #rodape {
    grid-row: 3;
    grid-column: 1 / span 2;
    background-color:rgb(0, 0, 0);
    justify-content: space-between;
}

#area-rodape {
    display: flex;
    justify-content: space-between;
    
}

.colunas h3 {
    margin-bottom: 30px;
    color:aliceblue;
}

#coluna2 li {
    margin-bottom: 20px;
    list-style-type: none;
    color:greenyellow;
    cursor:pointer;
}

#coluna3 li {
    margin-bottom: 20px;
    list-style-type: none;
    color:aliceblue;
}

.colunas p {
    margin-bottom: 10px;
    color:aliceblue;
}

.colunas span {
    font-weight: bold;
    color:coral;
}

#copyright {
    color:deepskyblue;
    margin-top: 130px;
}